
html {
  box-sizing: border-box;
  line-height: 1.125rem;
  color: #222;
  padding-left: .7rem;
  padding-right: .7rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  margin-bottom: 1rem;
  border-top: 1em;
  border-bottom: 1em;
  border: 2px;
  border-color: #999;
  line-height: 1.3em;
}

article {
  font-family: "Crimson Text", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: .9rem;
}

article header {
  font-style: italic;
  color: #222;
  line-height: 0;
  font-weight: lighter;
}

article header p {
  font-style: italic;
  font-weight: normal;
}

article h1 {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: lighter;
}

article p {
  font-style: normal;
  line-height: 1.3em;
}

blockquote {
  padding-right: .5rem;
  color: #555;
  line-height: 1em;
  font-size: 1.125rem;
}

.quote {
  font-weight: lighter;
  color: #999;
}

article ol {
  padding-top: .5rem;
  padding-bottom: .5rem;
  padding-left: 1.2rem;
  line-height: 1.1rem;
}
