
html {
  box-sizing: border-box;
  border: 2px;
  font-family: "Crimson Text", serif;
  padding-left: 1rem;
  padding-right: 1rem;
  line-height: 1.3rem;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding-left: .25rem;
  padding-right: 1rem;
  max-width: 19rem;
  min-width: 19rem;
  line-height: 1.31;
}

article {
  border-bottom: 1px solid #999;
  padding-bottom: 5px;
}

article header {
  line-height: .3;
  margin-top: 2.2rem;
}

h1 + p {
  line-height: 0;
}

article h1 {
  font-size: 1.5rem;
  font-weight: normal;
  color: #222;
}

article header p {
  border-bottom: 1px solid #999;
  padding-bottom: 30px;
  font-style: italic;
  font-size: 1em;
  color: #222;
}

article p {
  color: #222;
  padding-top: 2px;
}

article ol {
  text-align: left;
  padding-left: 1rem;
  color: #222;
  padding-top: .8rem;
}

blockquote {
  color: #555;
  font-size: 1.125rem;
}

blockquote p {
  color: #555;

}

.quote {
  font-size: 1rem;
  color: #999;
}
